<section id="foot">
      <div>
        <a href="mailto:<%= cleanerData.cleanerEmail %>"><%= cleanerData.cleanerEmail %></a>
        <br>
        <a href="tel:+1<%= cleanerData.cleanerPhone %>"><%= cleanerData.cleanerPhone %></a>
      </div>
      <div>
        <a href="https://starchup.com/index.html">
          <img src="https://s3.amazonaws.com/merchant-websites/com.starchup.columbuscleaners/starchup.png" width="200" alt="">
        </a>
      </div>
      <div>
        Download Our App
        <br>
        Copyright Starchup, 2016
      </div>
		</section>
		<script type="text/javascript" src="javascripts/mapControl.js"></script>
	</body>

</html>